/* [project]/src/components/GooeyNav.css [app-client] (css) */
:root {
  --color-1: #06b6d4;
  --color-2: #a855f7;
  --color-3: #ec4899;
  --color-4: #3b82f6;
  --linear-ease: linear(0, .068, .19 2.7%, .804 8.1%, 1.037, 1.199 13.2%, 1.245, 1.27 15.8%, 1.274, 1.272 17.4%, 1.249 19.1%, .996 28%, .949, .928 33.3%, .926, .933 36.8%, 1.001 45.6%, 1.013, 1.019 50.8%, 1.018 54.4%, 1 63.1%, .995 68%, 1.001 85%, 1);
}

.gooey-nav-container {
  position: relative;
}

.gooey-nav-container nav {
  display: flex;
  position: relative;
  transform: translate3d(0, 0, .01px);
}

.gooey-nav-container nav ul {
  z-index: 3;
  color: #fff;
  text-shadow: 0 1px 1px #121b2133;
  gap: 1em;
  margin: 0;
  padding: 0 1em;
  list-style: none;
  display: flex;
  position: relative;
}

.gooey-nav-container nav ul li {
  cursor: pointer;
  color: #fff;
  border-radius: 100vw;
  transition: background-color .3s, color .3s, box-shadow .3s;
  position: relative;
  box-shadow: 0 0 .5px 1.5px #0000;
}

.gooey-nav-container nav ul li a {
  padding: .6em 1em;
  display: inline-block;
}

.gooey-nav-container nav ul li:focus-within:has(:focus-visible) {
  box-shadow: 0 0 .5px 1.5px #fff;
}

.gooey-nav-container nav ul li:after {
  content: "";
  opacity: 0;
  z-index: -1;
  background: #fff;
  border-radius: 10px;
  transition: all .3s;
  position: absolute;
  inset: 0;
  transform: scale(0);
}

.gooey-nav-container nav ul li.active {
  color: #000;
  text-shadow: none;
}

.gooey-nav-container nav ul li.active:after {
  opacity: 1;
  transform: scale(1);
}

.gooey-nav-container .effect {
  opacity: 1;
  pointer-events: none;
  z-index: 1;
  place-items: center;
  width: 0;
  height: 0;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
}

.gooey-nav-container .effect.text {
  color: #fff;
  transition: color .3s;
}

.gooey-nav-container .effect.text.active {
  color: #000;
}

.gooey-nav-container .effect.filter {
  filter: url("#goo");
}

.gooey-nav-container .effect.filter:after {
  content: "";
  opacity: 0;
  z-index: -1;
  background: #fff;
  border-radius: 100vw;
  position: absolute;
  inset: 0;
  transform: scale(0);
}

.gooey-nav-container .effect.active:after {
  animation: .3s both pill;
}

@keyframes pill {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.particle, .point {
  opacity: 0;
  transform-origin: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: block;
}

.particle {
  --time: 5s;
  animation: particle calc(var(--time)) ease 1 -350ms;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
}

.point {
  background: var(--color);
  opacity: 1;
  animation: point calc(var(--time)) ease 1 -350ms;
}

@keyframes particle {
  0% {
    transform: rotate(0deg) translate(calc(var(--start-x)), calc(var(--start-y)));
    opacity: 1;
    animation-timing-function: cubic-bezier(.55, 0, 1, .45);
  }

  70% {
    transform: rotate(calc(var(--rotate) * .5)) translate(calc(var(--end-x) * 1.2), calc(var(--end-y) * 1.2));
    opacity: 1;
    animation-timing-function: ease;
  }

  85% {
    transform: rotate(calc(var(--rotate) * .66)) translate(calc(var(--end-x)), calc(var(--end-y)));
    opacity: 1;
  }

  100% {
    transform: rotate(calc(var(--rotate) * 1.2)) translate(calc(var(--end-x) * .5), calc(var(--end-y) * .5));
    opacity: 1;
  }
}

@keyframes point {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(.55, 0, 1, .45);
    transform: scale(0);
  }

  25% {
    transform: scale(calc(var(--scale) * .25));
  }

  38% {
    opacity: 1;
  }

  65% {
    transform: scale(var(--scale));
    opacity: 1;
    animation-timing-function: ease;
  }

  85% {
    transform: scale(var(--scale));
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

/* [project]/src/components/LightRays.css [app-client] (css) */
.light-rays-container {
  pointer-events: none;
  z-index: 3;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/*# sourceMappingURL=src_components_9af0662b._.css.map*/